body {
  font-family:'Trebuchet MS';
  font-size: 25px;
  color: #6a006a;
  background-image: url('imgs/wheelOfLife.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family:Georgia;
  letter-spacing: 0.6px;
  border: 4px solid black;
  padding: 10px;
  background-color: #4ac925;
  text-align: center;
}

h2 {
  border: 4px solid black;
  padding: 10px;
  background-color: #4ac925;
  background-clip:padding-box;
  text-align: center;
}

h3 {
  border: 4px solid black;
  padding: 6px;
  background-color: #4ac925;
}

p {
  font-family: Cambria;
  color: black;
  border: 4px solid black;
  padding: 3px;
  background-color: #1f9400;
}

strong {
  font-family:'Gill Sans';
  font-size: 25px;
  text-transform: lowercase;
  text-shadow: 1px 1px 2px #ff0000;
}
h4 {
  text-align: center;
  color: #e00707;
  font-family:monospace;
  padding: 12px;
  background-color: #323232;
}

h5 {
font-size: 32px;
text-align: center;
line-height: 60px;
}

a {
  color: #77003c;
  text-decoration: none;
}

mark{
  background-color:#008141;
  padding: 2px;
  border: 4px solid black;
}